*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
     background-color: rgba(93, 204, 255, 0.788);
}
.header-container{
    height: 80px;
    padding-top: 15px;
    margin: 0 auto;
    max-width: 1200px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
.head-col20{
    width: 20%;
    height: 50px;
    border: 2px dashed black;
    height: 50px;
    background-color: rgb(230, 157, 0);
    align-content: center;
}
.content-right{
    text-align: right;
    padding-right: 10px;
    font-size: 20px;
}
.content{
    padding-left: 10px;
    font-size: 20px;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 17px;
    font-size: 20px;
}
.head-col60{
    width: 60%;
    height: 100%;
    border: 2px dashed black;;
    height: 50px;
    background-color: rgb(230, 157, 0);
    align-content: center;
}
.blue{
    background-color: rgb(0, 0, 165);
}
.main-container-sm{
    height: 500px;
    padding: 50px 0px; 
    margin: 0 auto;
    max-width: 990px;

}
.col-70{
    width: 100%;
    height: 400px;
    background-color: rgb(255, 144, 246);
    border: 2px dashed black;
}
.main-container{
    max-width: 1200px;
    margin: 0 auto;
    height: 600px;
    padding: 50px 0px;
}
.col-60{
    width: 60%;
    height: 500px;
    background-color: rgba(28, 152, 209, 0.87);
    border: 2px dashed black;
}
.col-40{
    width: 40%;
    height: 500px;
    background-color: rgb(245, 173, 207);
    border: 2px dashed black;
}
